<!DOCTYPE html>
<meta charset="utf-8" content="initial-scale=1.0, user-scalable=yes" />
<head>
    <link rel="stylesheet" type="text/css" href="./assets/stylesheets/style.css">
</head>
    <body>
        <p> Press on any part of the chart to add. Hold the shift-key and press on a dot to delete. Dots are draggable.</p>
        <svg id="svg" width="1160" height="500">
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 20px;" y="18" x="890">Temperatures Now:</text>
            <rect style="fill: rgb(255, 255, 0); stroke: rgb(0, 0, 0); stroke-width: 1px; pointer-events: all;" y="28" x="930" height="50" width="100"></rect>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 22px;" y="52" x="968">75°</text>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;" y="72" x="945">Operative</text>
            <rect style="fill: rgb(187, 255, 0); stroke: rgb(0, 0, 0); stroke-width: 1px; pointer-events: all;" y="78" x="930" height="50" width="50"></rect>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;" y="100" x="944">73°</text>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;" y="120" x="943">Air</text>
            <rect style="fill: rgb(255, 187, 0); stroke: rgb(0, 0, 0); stroke-width: 1px;" y="78" x="980" height="50" width="50"></rect>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;" y="100" x="995">77°</text>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;" y="120" x="990">Rad</text>
            <text font-weight="Bold" style="fill: rgb(0, 0, 0); font-family: Arial; font-size: 22px;" y="380" x="890">Heating / Cooling:</text>            
        </svg>
        <script src="./assets/javascript/d3.v3.min.js"></script>
        <script src="http://www.juandejoya.com/graph.js"></script>
    </body>


