!!!5
html
  head
    title Temperature Sensing
    link(rel='stylesheet', href='http://www.juandejoya.com/assets/radiant/style.css')
    script(src='/socket.io/socket.io.js')

    script
      // connect socket.io to server
      var socket = io.connect('http://localhost:8080');
            
      // when a "sensorReading" message comes through, show its value by
      // writing the text of the div with id=showValue
      socket.on('sensorReadingAir', function (data) {
          d3.select("#showValueAir").text(data);
      });

      socket.on('sensorReadingRadiant', function (data) {
          d3.select("#showValueRad").text(data);
      });

      socket.on('sensorReadingOperative', function (data) {
          d3.select("#showValueOp").text(data);
      });

      // when the user clicks one of the buttons, they call toggle()
      // toggle emits a message to the socket with the new LED state
      function toggle(theState) {
        console.log("toggle: "+theState);
        socket.emit('toggle',theState);
      }
      
  body(style="background-color: #fff")
    p
      | Press on any part of the chart to add. Hold the shift-key and press on a dot to delete. Dots are draggable.  
    svg#svg(width='1160', height='500')
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 20px;', y='18', x='890') Temperatures Now:
      rect(style='fill: rgb(255, 255, 0); stroke: rgb(0, 0, 0); stroke-width: 1px; pointer-events: all;', y='28', x='930', height='50', width='100')
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 22px;', y='52', x='968')#showValueOp
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;', y='72', x='945') Operative
      rect(style='fill: rgb(187, 255, 0); stroke: rgb(0, 0, 0); stroke-width: 1px; pointer-events: all;', y='78', x='930', height='50', width='50')
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;', y='100', x='944')#showValueAir
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;', y='120', x='943') Air
      rect(style='fill: rgb(255, 187, 0); stroke: rgb(0, 0, 0); stroke-width: 1px;', y='78', x='980', height='50', width='50')
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;', y='100', x='995')#showValueRad
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 16px;', y='120', x='990') Rad
      text(font-weight='Bold', style='fill: rgb(0, 0, 0); font-family: Arial; font-size: 22px;', y='380', x='890') Heating / Cooling:
      image(xlink:href='http://www.juandejoya.com/Icon_Fire_On.png', y='390', x='900', height='70', width='70' onClick="toggle('1');")
      image(xlink:href='http://www.juandejoya.com/Icon_Ice_Off.png', y='390', x='990', height='70', width='70' onClick="toggle('0');")

    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://www.juandejoya.com/graph.js')      